.form{
    padding: 5% 20%;
    }
.positive_flash{
    margin: auto;
    color: green;
}
.negative_flash{
    margin: auto;
    color:red;
}
.card{
    padding:0px;
    margin-left: 10px;
    margin-right:10px;
}
