{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% block title %}FitRate{% endblock %}

{% block content %}
<div class="header-contact">
    <h2 class="h2-contact">Contactez-moi</h2>
</div>
<div class="content-contact">
    <h3>Votre fitness n'est pas sur le site? Il y a une erreur concernant votre fitness?</h3>
    <p>Contactez-moi afin que je puisse l'ajouter ou modifier les informations le concernant. Vous pouvez m'envoyer le formulaire ci-dessous.</p>
    <form class="form form-horizontal contact-form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.nom) }}
        {{ wtf.form_field(form.adresse) }}
        {{ wtf.form_field(form.code_postal) }}
        {{ wtf.form_field(form.ville) }}
        {{ wtf.form_field(form.is_spa) }}
        {{ wtf.form_field(form.is_piscine) }}
        {{ wtf.form_field(form.is_cours) }}
        <p>Autre commentaires:</p>
        {{ ckeditor.load(pkg_type="basic") }}
        {{ ckeditor.create() }}
        {{ wtf.form_field(form.envoyer) }}
        </form>
</div>

{% endblock %}
