{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}FitRate{% endblock %}

{% block content %}
<!-- flash message -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}

<p class="positive_flash">{{ message }}</p>


{% endfor %}
{% endif %}
{% endwith %}
<!-- end flash message -->
{% if current_user.is_authenticated %}
<p>Hi {{ current_user.username }}!</p>
{% endif %}

<div class="container-fluid header">
    <div class="titre row">
        <div class="col-sm-6 col-md-5 col-lg-4">
            <img src="static/muscle_logo.png" class="homme_muscle_img" alt="">
        </div>
        <div class="slogan col-sm-6 col-md-5 col-lg-6">
            <h1>Trouve le meilleur FITNESS</h1>
            <h3>Gagne du temps grâce à nos avis! Choisis le fitness qui te correspond le mieux !</h3>
            <div class="search-container">
                <form action="" class="search-form" method="post">
                    <input type="text" class="text_input" name="recherche" placeholder="Rechercher...">
                    <button type="submit" class="text_submit">Rechercher</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container-fluid list-fitness">
    {% if h2|length == 0 %}
    <h2 class="titre-list">Tous les FITNESS répertoriés</h2>
    {% else %}
    <h2 class="titre-list">Recherche entré : {{h2}}</h2>
    {% endif %}
    {% for fitness in fitness_tab %}
    <div class="row presentation-fitness">
        <div class="col-md-4">
            <img class="img-banniere" src={{fitness.url_image}} alt="Card image cap">
        </div>
        <div class="banniere-fitness col-md-4">
            <h4 class="fitness-name">{{fitness.name}}</h4>
            <p class="">{{fitness.adresse}}</p>
            <p class="">{{fitness.code_postal}} {{fitness.ville}}</p>
            <p class=""><a href={{fitness.adresse_url}}>Voir sur la google map</a></p>
            <h6>⭐️ {{fitness.note_general}} {{appreciation(fitness.note_general)}} ({{fitness.note_general_nombre|int}}
                avis)</h6>
        </div>
        <div class="bouton-fitness col-md-4">
            <div class="prix_index">
                <h3>Prix moyen:</h3>
                <h2>{{fitness.prix_mensuel}} <span class="francs_index">Frs/mois</span></h2>
                <p class="icon">
                    {% if fitness.is_spa == True %}
                    <img src="static/001-sauna.png" alt="">
                    {% endif %}
                    {% if fitness.is_piscine == True %}
                    <img src="static/002-swimming-pool.png" alt="">
                    {% endif %}
                    {% if fitness.is_cours == True %}
                    <img src="static/003-faire-de-lexercice.png" alt="">
                    {% endif %}
                </p>
            </div>
            <div class="boutons-ensemble">
                <a href={{url_for('info', id=fitness.id)}} class="btn custom-button">+ d'info</a>
                {% if current_user.is_authenticated %}
                <a href={{url_for('commenter', id_fitness=fitness.id)}} class="btn custom-button">Commenter/Noter</a>
                {% endif %}
                {% if current_user.id == 1%}
                <a href={{url_for('delete', id_fitness=fitness.id)}} class="btn custom-button">✗</a>
                {% endif %}
                {% if current_user.id == 1%}
                <a href={{url_for('update', id_fitness=fitness.id)}} class="btn custom-button">🔄</a>
                {% endif %}
            </div>
        </div>

    </div>
    {% endfor %}
</div>
</div>

{% endblock %}

