{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}FitRate{% endblock %}

{% block content %}
<!-- flash message -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {% if message == "You were successfully Register" %}
        <p class="positive_flash">{{ message }}</p>
      {% endif%}
    {% if message == "Félicitation votre commentaire a été enregistré!" %}
        <p class="positive_flash">{{ message }}</p>
      {% endif%}
    {% endfor %}
  {% endif %}
{% endwith %}
<!-- end flash message -->
{% if current_user.is_authenticated %}
  Hi {{ current_user.username }}!
{% endif %}

  <div class="container-fluid">
  <div class="row">
{% for fitness in fitness_tab %}
    <div class="card col-sm-4" style="width: 18rem;">
    <img class="card-img-top" src={{fitness.url_image}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{fitness.name}} ⭐️ {{fitness.note_general}} ({{fitness.note_general_nombre|int}} avis)</h5>
      <p class="card-text">{{fitness.adresse}}</p>
      <p class="card-text">{{fitness.ville}}</p>
      <p class="card-text"><a href={{fitness.adresse_url}}>Voir sur la carte</a></p>

      <a href={{url_for('info', id = fitness.id)}} class="btn btn-primary">+ d'info</a>
        {% if current_user.is_authenticated %}
      <a href={{url_for('commenter', id_fitness = fitness.id)}} class="btn btn-danger">Commenter/Noter</a>
        {% endif %}
    </div>
    </div>
{% endfor %}
  </div>
  </div>


{% endblock %}

