{% extends "base.html" %}
{% block title %}FitRate{% endblock %}

{% block content %}
<div class="img_container">
  <img src={{fitness.url_image}} class="img_fitness_info" alt="image du fitness">
</div>
  <h2>{{fitness.name}}</h2>
  <h3>{{fitness.ville}}, {{fitness.adresse}}</h3>
  <h4><a href={{fitness.adresse_url}}> Voir sur google maps</a></h4>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Catégories</th>
      <th scope="col">Existe?</th>
      <th scope="col">Note</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Equipements</th>
      <td>✅</td>
      <td>{{fitness.note_equipement}}</td>
    </tr>
    <tr>
      <th scope="row">Personnel</th>
      <td>✅</td>
      <td>{{fitness.note_personnel}}</td>
    </tr>
    <tr>
      <th scope="row">Cours</th>
      {% if fitness.is_cours%}
      <td>✅</td>
      {% else %}
      <td>❌</td>
      {% endif%}
      {% if fitness.is_cours%}
      <td>{{fitness.note_cours}}</td>
      {% else %}
      <td>Pas de cours</td>
      {% endif%}
    </tr>
    <tr>
      <th scope="row">SPA</th>
      {% if fitness.is_spa%}
      <td>✅</td>
      {% else %}
      <td>❌</td>
      {% endif%}
      {% if fitness.is_spa%}
      <td>{{fitness.note_spa}}</td>
      {% else %}
      <td>Pas de cours</td>
      {% endif%}
    </tr>
    <tr>
      <th scope="row">Propreté</th>
      <td> N/A</td>
      <td>{{fitness.note_proprete}}</td>
    </tr>
  </tbody>
</table>
<h2>Commentaires</h2>

{% for commentaire in commentaires %}
<div class="card">
  <div class="card-header">
    {{commentaire.name_user}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{commentaire.commentaire}}</h5>
    <p class="card-text">{{commentaire.date}}</p>
  </div>
</div>



{% endfor %}

{% endblock %}
